@model IndexViewModel<DAL.Models.Product>

@using SalesOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List Products";
}

<h2>List Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Country: </label>
        @Html.DropDownList("country", ViewBag.ProductViewModel.Countries as SelectList, new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>

<table>
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Country")
        </th>
    </tr>

    @foreach (var item in Model.Elements)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
</div>
