@model BLL.DTO.Manager

@{
    ViewBag.Title = "Create Manager";
}

<h2>Create Manager</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.Label("Telephone (+375(XX)XXX-XX-XX)", new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
                @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
