@model BLL.DTO.Manager

@{
    ViewBag.Title = "Delete Manager";
}

<h2>Delete Manager</h2>
<hr />

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telephone, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Telephone)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <div class="btn-group">
        <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
        @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default" })
    </div>
}
