@model DAL.Models.Manager

@{
    ViewBag.Title = "Delete Manager";
}

<h2>Delete Manager</h2>

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SecondName, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.SecondName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telephone, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Telephone)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
            |
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
}
