@model IEnumerable<DAL.Models.Manager>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("FirstName")
        </th>
        <th>
            @Html.DisplayName("SecondName")
        </th>
        <th>
            @Html.DisplayName("Telephone")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
