@model BLL.DTO.FileInfo

@{
    ViewBag.Title = "Delete FileInfo";
}

<h2>Delete FileInfo</h2>

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Manager.Name, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Manager.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Manager.Telephone, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Manager.Telephone)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Manager.Email, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Manager.Email)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="DELETE" class="btn btn-primary" />
            |
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
}
