@model BLL.DTO.SaleInfo

@{
    ViewBag.Title = "Delete SaleInfo";
}

<h2>Delete SaleInfo</h2>
<hr />

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.Label("Client", new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Client.Name)
    </div>
    <div class="form-group">
        @Html.Label("Product", new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Product.Name)
    </div>
    <div class="form-group">
        @Html.Label("Manager", new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.FileInfo.Manager.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cost, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Cost)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Currency, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Currency)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <div class="btn-group">
        <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
        @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default" })
    </div>
}
