@model IndexViewModel<DAL.Models.SaleInfo>

@using SalesOfGoodsMVCApp.Models
@using BLL

@{
    ViewBag.Title = "List SaleInfo";
}

<h2>List SaleInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Client: </label>
        @Html.DropDownList("client", ViewBag.SaleInfoViewModel.Clients as SelectList, new { @class = "form-control" })

        <label class="control-label">Date: </label>
        @Html.DropDownList("date", ViewBag.SaleInfoViewModel.Dates as SelectList, new { @class = "form-control" })

        <label class="control-label">Product: </label>
        @Html.DropDownList("product", ViewBag.SaleInfoViewModel.Products as SelectList, new { @class = "form-control" })

        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", ViewBag.SaleInfoViewModel.Managers as SelectList, new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>

<br />
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Client FirstName")
        </th>
        <th>
            @Html.DisplayName("Client SecondName")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Product")
        </th>
        <th>
            @Html.DisplayName("Manager FirstName")
        </th>
        <th>
            @Html.DisplayName("Manager SecondName")
        </th>
        <th>
            @Html.DisplayName("Cost")
        </th>
        <th>
            @Html.DisplayName("Currency")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Elements)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Client.SecondName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.FileInfo.Manager.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FileInfo.Manager.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
</div>
