@model BLL.IndexViewModel<BLL.DTO.SaleInfo>

@using SaleOfGoodsMVCApp.Models

@{
    ViewBag.Title = "List SaleInfo";
}

<h2>List SaleInfo</h2>
<hr />

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <div class="form-inline">
        <label class="control-label">Client: </label>
        @Html.DropDownList("client", ViewBag.SaleInfoViewModel.Clients as SelectList, new { @class = "form-control" })

        <label class="control-label">Product: </label>
        @Html.DropDownList("product", ViewBag.SaleInfoViewModel.Products as SelectList, new { @class = "form-control" })

        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", ViewBag.SaleInfoViewModel.Managers as SelectList, new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
}
<br />
<div id="results">
    @Html.Partial("ListPartial", Model.Elements)
</div>

<div id="pages" class="btn-group">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        @Ajax.RawActionLink(i.ToString(), "ListPartial", "SaleInfo", new { page = i },
            new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })
    }
</div>

<br />
<br />
<div class="panel panel-default text-right">
    <div class="panel-heading">
        <h3 class="panel-title">TOTAL COST</h3>
    </div>
    <div class="panel-body">
        @ViewBag.TotalCost BYR
    </div>
</div>
