@model SaleOfGoodsMVCApp.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete User</h2>
<hr/>

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="btn-group">
        <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
        @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default" })
    </div>
}
