@using PagedList.Mvc
@model PagedList.IPagedList<SaleOfGoodsMVCApp.Models.ApplicationUser>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.Label("UserName")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("PhoneNumber")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("List", new { page }))
