@model DAL.Models.SaleInfo

@{
    ViewBag.Title = "Edit SaleInfo";
}

<h2>Edit SaleInfo</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SaleInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Client.FirstName)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Client.Id, ViewBag.Clients as SelectList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Product.Id, ViewBag.Products as SelectList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cost)
            @Html.ValidationMessageFor(model => model.Cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Currency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Currency)
            @Html.ValidationMessageFor(model => model.Currency)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
