@model BLL.DTO.Product

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

<fieldset>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="form-group">
        @Html.Label("Country", new { @class = "col-md-2 control-label" })
        @Html.DisplayFor(model => model.Country.Name)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="DELETE" class="btn btn-primary" />
            |
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
}
